<section class="products-index">

  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <article>
    <h4>
      Welcome to the Jungle store!
    </h4>   
    <h5>
       A place where every person can find what they are looking for.
      Wether you need a creative gift or exclusive furniture or just a new shirt - we have it all and more. 
    </h5>
    </article>

    <div>
    <img src="https://www.minecraft.net/content/dam/games/minecraft/screenshots/aroundblocl-jungle-header.jpg.transform/minecraft-image-large/image.jpg">
    </div>

  <div>  
    <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>
  </div>
</section>
